* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #e6e6ea;
}

/*  header navigation bar */

.navigation-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #020300;
  background-color: rgba(86, 148, 86, 0.2);
  z-index: 10000;
  backdrop-filter: blur(20px);
}

.navigation-bar .logo {
  margin-left: 5rem;
}

.navigation-bar .logo img {
  height: 6rem;
  display: flex;
  align-items: start;
}

.navigation-bar .nav-key {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 2.5rem;
}

.navigation-bar .nav-key li {
  list-style: none;
}

.navigation-bar .nav-key li a {
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  opacity: 0.7;
  font-size: 1.3rem;
  margin: 0 50px;
  cursor: pointer;
  text-decoration: none;
  color: #020300;
}

.header ul li.active a,
.header ul li:hover a {
  color: red;
}


/* home page content  */

#home {
  position: relative;
  min-height: 100vh;
  max-width: 100%;
  padding-top: 100px;
  background-color: rgba(86, 148, 86, 0.2);
}

#home .home-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#home .home-content .text-content {
  padding: 60px 80px;
  color: #020300;
}

#home .home-content .text-content h1 {
  font-size: 4rem;
}

#home .home-content .text-content p {
  margin-top: 1rem;
  height: 4rem;
  max-width: 600px;
  letter-spacing: 0.1rem;
  font-size: 1.1rem;
}

#home .home-content .text-content a {
  color: #020300;
  text-decoration: none;
}

#home .home-content .text-content a .btn {
  height: 3rem;
  width: 13rem;
  margin-top: 5rem;
  outline: none;
  border: none;
  border-radius: 3rem;
  font-size: 1.1rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  transition: 0.1s;
  cursor: pointer;
}

#home .home-content .text-content .btn:hover {
  outline: 3px solid #020300;
}

#home .home-content .visual-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

#home .home-content .visual-content img {
  height: 35rem;
}

#home .scroll {
  height: 4rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#home .scroll .circle {
  height: 3.8rem;
  padding-top: 0.2rem;
  width: 2rem;
  outline: 3px solid #020300;
  border-radius: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: end;
}
.scroll .circle div {
  height: 1.7rem;
  width: 1.7rem;
  background-color: #020300;
  border-radius: 1rem;
  animation: scroll 1s linear infinite normal;
}

@keyframes scroll {
  0% {
    transform: translateY(0%);
    background-color: red;
  }
  50% {
    transform: translateY(-50%);
    background-color: rgb(177, 189, 49);
  }
  100% {
    transform: translateY(-100%);
    background-color: rgb(47, 144, 47);
  }
}


/* collections*/

#collections,
#popular,
#category {
  min-height: 100vh;
  max-width: 100vw;
  padding-top: 100px;
}

#collections{
  background-color: rgba(86, 148, 86, 0.3);
}

#collections .heading {
  width: 100%;
  text-align: center;
  font-size: 2.5rem;
  font-family: "Satisfy", cursive;
}

#collections .shoe-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 100%;
}

#collections .shoe-card .shoe-1,
#collections .shoe-card .shoe-2 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#collections .shoe-card .shoe-1 h1,
#collections .shoe-card .shoe-2 h1 {
  font-size: 3rem;
}

#collections .shoe-card .text-card {
  padding: 10px 20px;
  height: 25rem;
  width: 20rem;
}

#collections .shoe-card .text-card h1 {
  font-size: 2rem;
  text-transform: uppercase;
}

#collections .shoe-card .shoe-1 img,
#collections .shoe-card .shoe-2 img {
  height: 25rem;
}

/* slider-cSS */

.slide {
  position: relative;
}

.slider {
  position: relative;
  height: 200px;
  display: flex;
  align-items: center;
  overflow-x: hidden;
  justify-content: center;
}

.slider-container {
  position: absolute;
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  left: 0;
  top: 0;
  transition: 0.4s ease-in-out;
}

.slider-card {
  position: relative;
  background-color: #afd0d6;
  width: 283px;
  height: 180px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 700;
  margin: 0 10px;
}

.slider-card img {
  position: absolute;
  right: 0;
  height: 80%;
  transition: 1s;
}

.slider-card img:hover {
  scale: 1.1;
}

.slider-button {
  position: absolute;
  cursor: pointer;
  outline: none;
  border: none;
  background: aliceblue;
  height: 30px;
  width: 30px;
  border-radius: 30px;
  outline: 2px solid rgb(255, 255, 255);
  object-fit: cover;
}

.slider-button:hover {
  background: rgb(180, 217, 249);
}

.slider-button img {
  height: 100%;
  width: 100%;
}

.slider_button--left {
  left: 5px;
}

.slider_button--right {
  right: 5px;
}

/*  slider css end */

/* popular section starts */
#popular{
  background-color: rgba(86, 148, 86, 0.4);
}
#popular h1{
  width: 100%;
  text-align: center;
  font-size: 3rem;
  font-family: "Satisfy", cursive;
}
#popular .popular_class {
  min-height: 100vh;
  position: relative;
  padding: 20px 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
#popular .popular_items {
  outline: 2px solid red;
  border-radius: 2rem;
}

/* popular section ends */

/* category section starts */
#category{
  background-color: rgba(86, 148, 86, 0.5);
}
#category h1{
  width: 100%;
  text-align: center;
  font-size: 3rem;
  font-family: "Satisfy", cursive;
}
#category .category_class {
  min-height: 100vh;
  position: relative;
  padding: 20px 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

#category .category_box {
  outline: 2px solid maroon;
  border-radius: 2rem;
  cursor: pointer;
  transition: 1s;
}

#category .category_box:hover {
  scale: 1.02;
  box-shadow: 0 0 8px 3px #86fc1e;
}
